/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
  --first-color: #bc51fa;
  --button-color: #4A98F7;
  --light-color: #eee;
  --gray-color: #6C757D;
  --background-canvas: #c5c5c5;
}

/*==================== BASE ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--first-color);
  position: relative;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 97vh;
  gap: 0.625rem;
  padding: 0.625rem;
}

section{
  /* width: 90vw; */
  border-radius: 5px;
}

.tool-board {
  width: 55rem;
  background: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.2rem;
}

.tool-area, .colors{
  display: flex;
}

.tool-area .option{
  margin-left: 0.7rem;
}

.options{
  list-style: none;
}

.option:is(:hover, .active) img{
  filter: sepia(40%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}

.colors .options{
  display: flex;
}

.colors .option{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 0.7rem;
  position: relative;
}

.option #color-picker{
  opacity: 0;
  cursor: pointer;
}

.colors .option:nth-child(1){
  background-color: var(--light-color);
  border: 1px solid var(--gray-color);
}
.colors .option:nth-child(2){
  background-color: black;
}
.colors .option:nth-child(3){
  background-color: red;
}
.colors .option:nth-child(4){
  background-color: #1e90ff;
}
.colors .option:nth-child(5){
  background-color: yellow;
}
.colors .option:nth-child(6){
  background-color: green;
}

.buttons{
  color: var(--light-color);
  border: none;
  padding: 0.3rem 0;
  margin-right: 0.7rem;
  font-size: 0.9rem;
  text-align: center;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.clear-canvas{
  width: 6rem;
  color: var(--gray-color);
  border: 1px solid var(--gray-color);
  transition: all 0.3s ease;
}

.clear-canvas:hover{
  color: var(--light-color);
  background: var(--gray-color);
}

.save-img{
  width: 9rem;
  background: var(--button-color);
  border: 1px solid var(--button-color);
}

.drawing-board{
  background: var(--background-canvas);
  flex: 1;
  width: 100%;
  max-width: 65rem;
}

#canvas{
  width: 100%;
  height: 100%;
}
